a {
  text-decoration: none;
}

.fade-enter-active {
  animation: fadeIn .2s;
}

.fade-leave-active {
  animation: fadeOut .2s;
}

.pointer {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.icon-trash {
  transition: color 0.25s ease;
}

.icon-trash:hover {
  color: #B71C1C
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}